@import "tailwindcss";

.my-scroll {
  overflow-y: scroll; /* أو overflow-auto */
}

/* تخصيص شكل السكرول */
.my-scroll::-webkit-scrollbar {
    width: 4px; /* عرض السكروول */
    border-radius: 10px;
}

/* الخلفية */
.my-scroll::-webkit-scrollbar-track {
  background:  transparent; /* لون الخلفية */
  border-radius: 10px;
}

/* الجزء المتحرك */
.my-scroll::-webkit-scrollbar-thumb {
  background-color: #A78BFA; /* لون الجزء المتحرك */
  border-radius: 10px;
}

/* عند المرور عليه بالماوس */
.my-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #8B5CF6;
}
